span {
    font-size: 10px;
}

.True {
    color: green;
}

.False {
    color: grey;
}


#mainNav {
    border-bottom: 1px solid #e9ecef;
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40
}